<!DOCTYPE html>
<html>
  <head>
    <title>Page Not Found</title>
    <link rel="icon" type="image/png" href="/assets/logo2.png" />
  </head>
  <body>
    <h1>404 - Page Not Found</h1>
    <p>The requested page could not be found.</p>
  </body>
</html>
