<%- include("includes/navigation") %>
<head>
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<h1>this is homepage</h1>
<h2>renting</h2>
<h2>second-hand buying</h2>
<h2>subscription</h2>