<!DOCTYPE html>
<html>
  <head>
    <title>Verification Error</title>
    <link rel="icon" type="image/png" href="/assets/logo2.png" />
  </head>
  <body>
    <h1>Verification Failed</h1>
    <p>
      Invalid or expired verification link.
      <a href="/api/auth/signup">Try signing up again</a>
    </p>
  </body>
</html>
