/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F8F2; /* Light green background */
}

/* Welcome Section */
.welcome-section {
    text-align: center;
    padding: 80px 20px;
    background-color: #deebd6;
    border-radius: 10px;
    margin: 20px;
}
.welcome-section img {
    max-width: 150px;
    padding: 10pt;
}
.welcome-section h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 10px;
}
.welcome-section p {
    font-size: 18px;
    color: #5A5A5A;
}

/* About Us Section */
.about-us {
    text-align: center;
    padding: 50px 20px;
    font-size: 16pt;
}

.abtus-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    color: #52694a;
    font-size: 13pt;
    max-width: 1000px;
    margin: 0 auto;
}

/* Feature Sections */

.h2{
    color: #333;
    text-align: center;

}

.feat-heading {
    text-align: center;
    padding: 20px;
    font-size: 16pt;
}

.feature-section {
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}
.feature-section img {
    width: 40%;
    border-radius: 10px;
}
.feature-content {
    width: 50%;
}
.feature-content h2 {
    color: #3E6B48;
}
.feature-content p {
    color: #5A5A5A;
}
.feature-content button {
    background-color: #3E6B48;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}



.contact-us {
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    
}

.contact-us h2 {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-details {
    text-align: center;
    padding: 10px;
    background-color: #deebd6;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-details .phone,
.contact-details .mail {
    flex: 1;
    padding: 20px;
}

.contact-details ul {
    list-style: none;
    padding: 0;
}

.contact-details li {
    font-size: 16px;
    margin: 5px 0;
}

.contact-us p {
    font-size: 16px;
}
