<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <!-- <link rel="stylesheet" href="/css/product.css"> -->
    <link rel="stylesheet" href="/css/navigation.css">
</head>

<body>
    <%- include('../common/navigation.ejs') %>

    <main>
        <form class="product-form" action="/secondHand/sell" method="POST">
            <div class="form-control">
                <label for="title">Title</label>
                <input type="text" name="title" id="title" >
            </div>
            <div class="form-control">
                <label for="imageUrl">Upload image</label>
                <input type="text" name="imageUrl" id="imageUrl" >
            </div>
            <div class="form-control">
                <label for="price">Minimum Price</label>
                <input type="number" name="price" id="price" step="0.01" >
            </div>
            <div class="form-control">
                <label for="start-date">Start Date</label>
                <input type="date" name="startDate" id="startDate">
            </div>
            <div class="form-control">
                <label for="end-date">End Date</label>
                <input type="date" name="endDate" id="endDate">
            </div>
            <div class="form-control">
                <label for="description">Description</label>
                <textarea name="description" id="description" rows="5"></textarea>
            </div>
            <div class="form-control">
                <label for="location">location</label>
                <textarea name="location" id="location" rows="5"></textarea>
            </div>

            <button class="btn" type="submit">Add Product</button>
        </form>
    </main>
    <!-- nnn -->