<!DOCTYPE html>
<html>
  <head>
    <title>Reset Password</title>
    <link rel="icon" type="image/png" href="/assets/logo2.png" />
    <link rel="stylesheet" href="/css/rentalStyles.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/forms.css" />
    <style>
      .container {
        max-width: 400px;
        margin: 50px auto;
        padding: 20px;
      }
      input {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
      }
      button {
        background: #75975e;
        color: white;
        padding: 10px 20px;
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Reset Password</h2>
      <form id="resetPasswordForm">
        <input
          type="password"
          id="password"
          placeholder="New Password"
          required
        />
        <button type="submit" style="margin: 20px">Reset Password</button>
      </form>
    </div>

    <script>
      const token = "<%= token %>";

      document
        .getElementById("resetPasswordForm")
        .addEventListener("submit", async (e) => {
          e.preventDefault();
          const password = document.getElementById("password").value;

          try {
            const response = await fetch(`/api/auth/reset-password/${token}`, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ password }),
            });

            const data = await response.json();
            alert(data.message);
            if (response.ok) window.location.href = "/api/auth/login";
          } catch (error) {
            alert("Error resetting password");
          }
        });
    </script>
  </body>
</html>
